.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0.5rem 3rem;
    .logo{
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    .links{
        .navbar-nav{
            flex-direction: row;
            .nav-item{
                padding: .25rem .5rem;
                .nav-link{
                    color: white;
                    position: relative;
                    &.aktiv{
                        color: #e6fcfc;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 1px;
                            background-color: #e6fcfc;
                            width: 100%;
                        }
                    }
                }
                &:hover{
                    .nav-link{
                        color: #e6fcfc;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 1px;
                            background-color: #e6fcfc;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}